@media screen and (max-width: 1000px){
	.header__menu{
		display: none;
	}
	.slicknav_menu{
		display: block;
	}
	.header__logo{
		display: none;
	}
	.list__check{
		margin: 5px;
	}
	.list__link--drop{
		background: url(""),transparent;
	}
	.list__check--drop:hover  .list__link--drop{
		background: url('') 15px 13px no-repeat, #6E978E;
	}
}