body{
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	font-size: 12px;
	min-width: 320px;
	color: #000000;
	background: #f3f3f3;
}
.container{
	min-width: 320px;
	max-width: 1175px;
	margin: 0 auto;
}

.header{
	background: url('../img/lines.png') 0  100% repeat-x, #76C7C0;
}
.header__logo{
	display: inline-block;
	margin: 28px 10px 26px;
}
.header__humburger{
	display: none;
	float: right;
	width: 40px;
	height: 40px;
	margin: 19px;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	border: 3px solid #fff;
	line-height: 50px;
	position: relative;
}
.humburger__inner{
	position: absolute;
	left: 4px;
	margin: -1px 0 0 0;
	top: 50%;
	width: 80%;
	height: 3px;
	display: inline-block;
	background: #FFF;
}
.humburger__inner::after{
	content: "";
	position: absolute;
	top: 8px;
	width: 100%;
	height: 3px;
	background: #FFF;
}
.humburger__inner::before{
	content: "";
	position: absolute;
	top: -8px;
	width: 100%;
	height: 3px;
	background: #FFF;
}

.header__menu{
	margin: 0;
	padding: 0;
	float: right;
	display: block;
}
.menu__list{
	margin: 0;
	padding: 0;
	list-style: none;
}
.list__check{
	display: inline-block;
	margin: 25px 20px 0 9px;
		-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-transition: all 0.3s ease-in;
	   -moz-transition: all 0.3s ease-in;
	    -ms-transition: all 0.3s ease-in;
	     -o-transition: all 0.3s ease-in;
	        transition: all 0.3s ease-in;
	padding-bottom: 2px;
}
.list__check:hover{
	background: #608278;
}
.list__check--last{
	margin: 25px 67px 0 10px;
}
.list__check--drop{
	margin: 25px 14px 0 -9px;
	position: relative;
}
.drop-down:hover .list__check--drop{
	background: #e15042;
	
}
.list__link{
	color: #FFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 16px;
	font-weight: 500;
	display: inline-block;
	padding: 7px 10px 10px 10px;
			-webkit-border-radius: 3px;
	        border-radius: 3px;
	}
.list__check:hover .list__link{
	background: #6E978E;
}
.list__link--drop{
	padding: 7px 18px 8px 31px;
	background: url('../img/arrow-drop.png') 15px 13px no-repeat, transparent;
}
.list__check--drop:hover  .list__link--drop{
	background: url('../img/arrow-drop.png') 15px 13px no-repeat, #6E978E;
}
.drop-down:hover .list__link--drop{
	background: url('../img/arrow-drop2.png') 15px 13px no-repeat, #E5655D;
}
.drop-down{
	position: absolute;
	left: 0;
	top: 45px;
	background: #E15042;
	list-style: none;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	padding: 0;
	margin: 0;
	width: 200px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 5px;
	display: none;
}
.drop-down--active{
	display: block;
}
.drop-down::after{
	content: "";
	position: absolute;
	left: 12px;
	top: -6px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 6px 6px 6px;
	border-color: transparent transparent #e2534b transparent;
}
.drop-down__link{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	line-height: 16px;
	background: #E5655D;
	width: 100%;
	display: inline-block;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	padding: 6px 9px 8px;
	margin-bottom: 5px;
	letter-spacing: 0.2px;
}
.drop-down__link--last{
	margin-bottom: 0;
}


.slicknav_menu{
	display: none;
	background: url('../img/lines.png') 0  100% repeat-x, #76C7C0;
	z-index: 60;
	}
.slicknav_nav .slicknav_row:hover{
	background: #6E978E;
}

.slick__slider{
	outline: none;
	position: relative;
}
.slick__slider img{
	width: 100%;
	height: 500px;
}
.slick-arrow{
	position: absolute;
	height: 80%;
	width: 100px;
	border: none;
	font-size: 0;
	top: 5%;
	background: transparent;
	z-index: 50;
}
.slick-arrow::after{
    content: "";
    width: 50px;
    height: 58px;
    top: 49%;
    font-size: 25px;
    position: absolute;
    line-height: 70px;
    color: #2C3232;
    border-bottom: 2px solid #e2534b;
    
}
.slick-prev::after{
	background: url('../img/left-slider-arrow.png') 50% 50% no-repeat, #E8645A;
	left: 0;
	-webkit-border-top-right-radius: 4px;
	        border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	        border-bottom-right-radius: 4px;
}
.slick-next::after{
background: url('../img/right-slider-arrow.png') 50% 50% no-repeat, #E8645A;
	right: 0;
	-webkit-border-top-left-radius: 4px;
            border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	        border-bottom-left-radius: 4px;
}
.slick-next{
	right: 0;
}
.slick-prev{
	left: 0;
}
.slick-dots{
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: -28px;
    right: 13px;
    margin: 0 0 0 -145px;

}
.slick-dots li{
    margin: 0 5px;
    list-style: none;
    display: inline-block;

}
.slick-dots button{
	background: #B0B8B9;
	border: none;
	font-size: 0;
	width: 60px;
	height: 5px;
	display: inline-block;
	line-height: 0;
}
.slick-dots li.slick-active button{
	background: #E2534B;
}
.slick__info{
	max-width: 470px;
	position: absolute;
	left: 50%;
	top: 162px;
	text-align: center;
	display: block;
	margin: 0px 0px 0 -235px;
}
.slick__title{
	color: #FFF;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 50px;
	line-height: 45px;
	margin: 0;
	background: #E2534B;
	padding: 2px 10px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	display: inline-block;
}
.slick__text{
	color: #FFF;
	background: rgba(0, 0, 0, 0.4);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	padding:8px 17px 13px;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	margin: 11px 0;
	font-size: 16px;
	letter-spacing: 0.1px;
}
